<!DOCTYPE html>
<html>
    <body>

        <h1>Example of the version updating script found <a href="http://github.com/alltuition/version-tags/">here</a></h1>

        <p><a href="#" onclick="sample_function(); return false;">This link</a> should pop up an alert if the js file loaded properly.</p>

        <p>( The current url path is: /site_media/version-n1L9ESDCRQ/js/site.js )</p>

    </body>
    <script type="text/javascript" src="/site_media/version-n1L9ESDCRQ/js/site.js"></script>
</html>


